@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  top: 0 !important;
}

.goog-te-banner-frame, .goog-te-spinner-pos {
  display: none !important;
}
.goog-te-gadget {
  height: 0;
}
.skiptranslate {
  display: none !important;
}


